.LitterBox {
  background: #e9e0cf;
}
.LitterBox input[type=radio],
.LitterBox input[type=checkbox] {
  width: 0px;
  height: 0px;
  display: none;
}
.LitterBox .question_mark_popup {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
}
.LitterBox .question_mark_popup .popup-wrapper {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

@media screen and (min-width: 901px) {
  .LitterBox input[type=radio]:checked + label,
  .LitterBox input[type=checkbox]:checked + label {
    border-color: #f0b42d;
  }
  .LitterBox label {
    border: 2px solid #e9e0cf;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .LitterBox .variants .active .variants-item {
    border-color: #f0b42d;
  }
  .LitterBox .variants-item {
    border: 2px solid #e9e0cf;
    transition: all 0.3s ease;
  }
  .LitterBox .variants .question {
    background: url("~/assets/product/question.png") no-repeat center/cover;
  }
  .LitterBox .product-price {
    margin-top: 14px;
    margin-bottom: 22px;
    font-family: LeagueSpartanBlack;
    font-weight: 900;
    font-size: 23px;
  }
  .LitterBox .product-price div {
    color: #d75f23;
    font-family: LeagueSpartanBlack;
  }
  .LitterBox .product-price s,
  .LitterBox .product-price s div {
    color: #7e6e5f;
  }
  .LitterBox .price div {
    font-family: LeagueSpartan;
  }
  .LitterBox .price s,
  .LitterBox .price s div {
    color: #7e6e5f;
  }
  .LitterBox .select-color .select-color-item label {
    border-radius: 12px;
    background: #FFFFFF;
  }
  .LitterBox .gift .gift-item:nth-child(1) label {
    background: url("~/assets/product/pc-gift-1.png") no-repeat center/cover;
  }
  .LitterBox .gift .gift-item:nth-child(2) label {
    background: url("~/assets/product/pc-gift-2.png") no-repeat center/cover;
  }
  .LitterBox .add-on-item img {
    width: 70px;
    height: 70px;
    object-fit: contain;
  }
  .LitterBox .add-to-cart {
    width: 259px;
    height: 52px;
    background: #7E6E5F;
    border-radius: 24px;
    color: #FFFFFF;
    transition: all 0.3s ease;
  }
  .LitterBox .add-to-cart button {
    width: 259px;
    height: 52px;
    font-family: LeagueSpartanBlack;
    font-size: 24px;
    text-transform: uppercase;
    position: relative;
  }
  .LitterBox .add-to-cart:hover {
    color: #7E6E5F;
    background-color: #FFFFFF;
  }
  .LitterBox .question_mark_popup .popup-wrapper {
    width: 874px;
    height: 561px;
    background-color: #ffffff;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    padding: 20px;
  }
  .LitterBox .question_mark_popup .popup-wrapper .popup-content {
    flex: 1;
    padding: 40px 0px 20px;
  }
  .LitterBox .question_mark_popup .popup-wrapper .popup-img {
    width: 500px;
    height: 500px;
  }
  .LitterBox .question_mark_popup .popup-wrapper .popup-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0px;
    margin-right: 10px;
  }
  .LitterBox .question_mark_popup .popup-wrapper .popup-title {
    color: #504030;
    font-family: HelveticaNowDisplayXBlk;
    font-size: 35px;
    margin-bottom: 20px;
  }
  .LitterBox .question_mark_popup .popup-wrapper .popup-title::first-letter {
    color: #d75f23;
  }
  .LitterBox .question_mark_popup .popup-wrapper ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
    margin-top: 10px;
    text-align: left;
    list-style: disc;
    padding-left: 20px;
  }
  .LitterBox .question_mark_popup .popup-wrapper ul li {
    font-family: LeagueSpartan;
    color: #504030;
    font-size: 18px;
  }
  .LitterBox .question_mark_popup .popup-wrapper ul b {
    font-family: LeagueSpartan;
    color: #504030;
    font-size: 22px;
    text-align: left;
    line-height: 25px;
    margin: 5px 0px;
  }
  .LitterBox .question_mark_popup .popup-wrapper .popup-close {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 10px;
    position: absolute;
    right: 10px;
    background: url("~/assets/product/close-product.png") no-repeat center/cover;
    display: block;
  }
  .LitterBox [class*=swiper-button] {
    width: 24px;
    height: 46px;
    background: url("~/assets/product/arrows.png") no-repeat center/cover;
  }
  .LitterBox .swiper-button-prev {
    left: 10px;
  }
  .LitterBox .swiper-button-next {
    right: 10px;
  }
}
@media screen and (max-width: 900px) {
  .LitterBox {
    padding-top: 5.3333333333vw;
    padding-bottom: 8.6666666667vw;
  }
  .LitterBox .question_mark_popup .popup-wrapper {
    width: 90.6666666667vw;
    height: auto;
    background-color: #ffffff;
    border-radius: 3.3333333333vw;
    overflow: auto;
    padding: 5.3333333333vw;
    box-sizing: border-box;
    height: 160vw;
  }
  .LitterBox .question_mark_popup .popup-wrapper .popup-content {
    flex: 1;
  }
  .LitterBox .question_mark_popup .popup-wrapper .popup-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0px;
  }
  .LitterBox .question_mark_popup .popup-wrapper .popup-title {
    color: #504030;
    font-family: HelveticaNowDisplayXBlk;
    font-size: 7.3333333333vw;
    margin-bottom: 5.3333333333vw;
  }
  .LitterBox .question_mark_popup .popup-wrapper .popup-title::first-letter {
    color: #d75f23;
  }
  .LitterBox .question_mark_popup .popup-wrapper ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2.6666666667vw;
    margin-top: 2.6666666667vw;
    text-align: left;
    list-style: disc;
    padding-left: 2.6666666667vw;
  }
  .LitterBox .question_mark_popup .popup-wrapper ul li {
    font-family: LeagueSpartan;
    color: #504030;
    font-size: 4.8vw;
  }
  .LitterBox .question_mark_popup .popup-wrapper ul b {
    font-family: LeagueSpartan;
    color: #504030;
    font-size: 5.3333333333vw;
    text-align: left;
    line-height: 6.6666666667vw;
    margin: 0.6666666667vw 0px;
  }
  .LitterBox .question_mark_popup .popup-wrapper .popup-close {
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    top: 2.6666666667vw;
    position: absolute;
    right: 2.6666666667vw;
    background: url("~/assets/product/close-product.png") no-repeat center/cover;
    display: block;
  }
  .LitterBox .title {
    font-size: 6.6666666667vw;
    margin-bottom: 0.6666666667vw;
  }
  .LitterBox .sub-title {
    font-size: 5.0666666667vw;
    margin-bottom: 2.9333333333vw;
  }
  .LitterBox .title-desc {
    font-size: 3.0666666667vw;
    margin-bottom: 5.0666666667vw;
  }
  .LitterBox .swiper-container {
    width: 90.6666666667vw;
    height: auto;
    overflow: hidden;
  }
  .LitterBox .swiper-container img {
    width: 90.6666666667vw;
    height: 59.4666666667vw;
    object-fit: contain;
    border-radius: 3.2vw;
  }
  .LitterBox .swiper-container [class*=swiper-button] {
    width: 3.4666666667vw;
    height: 7.8666666667vw;
    background: url("~/assets/product/m_arrows.png") no-repeat center/cover;
    top: 45%;
  }
  .LitterBox .swiper-container .swiper-button-prev {
    left: 2.6666666667vw;
  }
  .LitterBox .swiper-container .swiper-button-next {
    right: 1.3333333333vw;
  }
  .LitterBox .swiper-container .swiper-pagination {
    margin-top: 3.6vw;
    margin-bottom: 5.0666666667vw;
    height: 1.0666666667vw;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2.1333333333vw;
  }
  .LitterBox .swiper-container .swiper-pagination-bullet {
    display: block;
    width: 1.7333333333vw;
    height: 1.0666666667vw;
    background: #CBB298;
    border-radius: 0.5333333333vw;
    transition: all 0.3s ease;
  }
  .LitterBox .swiper-container .swiper-pagination-bullet-active {
    width: 11.2vw;
  }
  .LitterBox .product-price {
    margin-bottom: 3.8666666667vw;
  }
  .LitterBox .product-price div {
    color: #D75F23;
    font-size: 3.8666666667vw;
    font-family: LeagueSpartanBlack;
  }
  .LitterBox .product-price s {
    color: #7E6E5F;
    margin-left: 2.1333333333vw;
  }
  .LitterBox .product-price s div {
    color: #7E6E5F;
  }
  .LitterBox .price div {
    font-size: 3.8666666667vw;
    font-family: LeagueSpartan;
  }
  .LitterBox .price s {
    color: #7E6E5F;
    margin-left: 2.1333333333vw;
  }
  .LitterBox .price s div {
    color: #7E6E5F;
  }
  .LitterBox .select-color {
    column-gap: 5.0666666667vw;
    margin-top: 4vw;
    margin-bottom: 4.9333333333vw;
  }
  .LitterBox .select-color input[type=radio]:checked + label,
  .LitterBox .select-color input[type=checkbox]:checked + label {
    border-color: #f0b42d;
  }
  .LitterBox .select-color label {
    border: 0.5333333333vw solid #e9e0cf;
    transition: all 0.3s ease;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 1.6vw;
  }
  .LitterBox .select-color .select-color-item {
    flex: 1;
  }
  .LitterBox .select-color img {
    width: 26.6666666667vw;
    height: 26.6666666667vw;
    object-fit: contain;
  }
  .LitterBox .select-color span {
    font-size: 2.8vw;
  }
  .LitterBox .variants {
    justify-content: space-between;
    margin-top: 4vw;
    margin-bottom: 5.0666666667vw;
  }
  .LitterBox .variants .variants-item {
    width: 26.6666666667vw;
    height: 30.4vw;
    background: #FFFFFF;
    border-radius: 1.6vw;
    overflow: hidden;
    padding: 2.6666666667vw;
    box-sizing: border-box;
    border: 0.5333333333vw solid #e9e0cf;
    transition: all 0.3s ease;
  }
  .LitterBox .variants .question {
    background: url("~/assets/product/question.png") no-repeat center/cover;
    top: 1.3333333333vw;
    right: 1.3333333333vw;
    width: 2.6666666667vw;
    height: 2.6666666667vw;
  }
  .LitterBox .variants a.active .variants-item {
    border-color: #f0b42d;
  }
  .LitterBox .variants img {
    width: 22.9333333333vw;
    height: 22.9333333333vw;
    object-fit: contain;
  }
  .LitterBox .variants p {
    font-size: 2.8vw;
  }
  .LitterBox .gift {
    row-gap: 4vw;
    margin-top: 4vw;
    margin-bottom: 5.3333333333vw;
  }
  .LitterBox .gift .gift-item {
    width: 90.4vw;
    height: 20vw;
    overflow: hidden;
    border-radius: 1.8666666667vw;
  }
  .LitterBox .gift .gift-item:nth-child(1) {
    background: url("~/assets/product/mb-gift-1.png") no-repeat center/cover;
  }
  .LitterBox .gift .gift-item:nth-child(2) {
    background: url("~/assets/product/mb-gift-2.png") no-repeat center/cover;
  }
  .LitterBox .gift .gift-left {
    padding: 0px 5.3333333333vw 0px 8vw;
    position: relative;
  }
  .LitterBox .gift .gift-left::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3.3333333333vw;
    height: 3.3333333333vw;
    border: 0.2666666667vw solid #626262;
    border-radius: 0.5333333333vw;
    left: 3.3333333333vw;
  }
  .LitterBox .gift label {
    height: 100%;
    width: 100%;
  }
  .LitterBox .gift img {
    width: 17.3333333333vw;
    height: 17.3333333333vw;
    object-fit: contain;
  }
  .LitterBox .gift input[type=radio]:checked + label .gift-left::after {
    background: url("~/assets/product/checkbox.png") no-repeat center/cover;
    border-color: #ffffff;
  }
  .LitterBox .addOns {
    row-gap: 3.2vw;
    margin-top: 4vw;
  }
  .LitterBox .addOns .add-on-item {
    width: 90.4vw;
    height: 13.7333333333vw;
    background: #F5F3ED;
    border-radius: 1.6vw;
  }
  .LitterBox .addOns img {
    width: 9.3333333333vw;
    height: auto;
  }
  .LitterBox .addOns .img-wrapper {
    padding-left: 14.4vw;
    position: relative;
  }
  .LitterBox .addOns .img-wrapper::after {
    content: "";
    width: 3.3333333333vw;
    height: 3.3333333333vw;
    border: 0.2666666667vw solid #626262;
    border-radius: 0.5333333333vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 4vw;
  }
  .LitterBox .addOns label {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .LitterBox .addOns input[type=checkbox]:checked + label .img-wrapper::after {
    background: url("~/assets/product/checkbox.png") no-repeat center/cover;
    border-color: #ffffff;
  }
  .LitterBox .addOns .title {
    margin-bottom: 0px;
    font-size: 3.3333333333vw;
  }
  .LitterBox .addOns .price {
    margin-right: 4vw;
    font-size: 4vw;
  }
  .LitterBox .add-to-cart {
    width: 49.6vw;
    height: 7.7333333333vw;
    background: #7E6E5F;
    border-radius: 3.8666666667vw;
    margin-right: 6.2666666667vw;
  }
  .LitterBox .add-to-cart button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.8666666667vw;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: LeagueSpartanBlack;
  }
  .LitterBox .quantity {
    width: 26.4vw;
    height: 7.7333333333vw;
    background: #FFFFFF;
    border-radius: 3.8666666667vw;
  }
  .LitterBox .quantity div {
    width: 6.6666666667vw;
    font-size: 5.0666666667vw;
  }
}

/*# sourceMappingURL=index.css.map */
