@function vw($px-vw, $base-vw: 750px) {
  @return calc(($px-vw * 100vw) / $base-vw);
}

$border-color: #f0b42d;
$background: #e9e0cf;
$font-color:#504030;
$font-emphasize:#d75f23;
$color: #a19488;

.LitterBox {
  background: $background;

  input[type=radio],
  input[type=checkbox] {
    width: 0px;
    height: 0px;
    display: none;
  }

  .question_mark_popup {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    background: rgba($color: #000000, $alpha: 0.2);
    width: 100vw;
    height: 100vh;

    .popup-wrapper {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
    }
  }
}

.product-litter {
  overflow: hidden;

  img {
    display: block;
    position: absolute;
  }

  .litter-img img,
  .litter-img picture {
    position: static;
  }


  .litter-container {
    position: relative;
    display: flex;
  }

  .litter-content {
    z-index: 1;

    .litter-title {
      color: $font-color;
      font-family: HelveticaNowDisplayXBlk;

      &::first-letter {
        color: $font-emphasize;
      }
    }

    .litter-desc {
      color: #504030;
      font-family: LeagueSpartan;
    }

    .special {
      font-family: HelveticaNowDisplayXBlk;
      display: block;

      &::first-letter {
        color: $font-emphasize;
      }
    }

    .thick {
      font-weight: 900;
    }
  }


  .litter-3 {

    .litter-content {
      margin-left: auto;
      text-align: end;
    }
  }


  .litter-5 {
    .litter-content {
      margin-left: auto;
      text-align: end;
    }

    .litter-desc {
      margin-left: auto;
    }
  }

  .litter-6 {
    .litter-content {
      margin-left: auto;
    }

    .litter-desc {
      text-align: end;
    }
  }
}

.product-quiet {
  .content {
    p.quiet-title {
      font-family: HelveticaNowDisplayXBlk;
      color: $font-color;

      &::first-letter {
        color: $font-emphasize;
      }
    }

    span.quiet-title {
      font-family: HelveticaNowDisplayXBlk;
      color: $font-color;
    }

    .voice {
      display: flex;


      .line {
        display: flex;
        align-items: flex-end;

        span {
          background-color: $color;
          transition: all 0.3s ease;

        }

        @for $i from 1 through 6 {
          @if $i % 2==0 {
            span:nth-child(#{$i}) {
              background-color: $font-color;
              animation: voice ease 0.8s #{$i * 0.1}s infinite;
            }
          }

          @else {
            span:nth-child(#{$i}) {
              background-color: $font-color;
              animation: voice_1 ease 1.2s #{$i * 0.1}s infinite;
            }
          }

        }
      }
    }

    .wrapper {
      display: flex;
      flex-direction: column;

      .line {
        margin-top: auto;
      }
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .quite-img {

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}


// pc端
@media screen and (min-width: 901px) {
  .LitterBox {

    input[type=radio]:checked+label,
    input[type=checkbox]:checked+label {
      border-color: $border-color;
    }

    label {
      border: 2px solid $background;
      transition: all .3s ease;
      cursor: pointer;
    }

    .variants .active .variants-item {
      border-color: $border-color;
    }

    .variants-item {
      border: 2px solid $background;
      transition: all 0.3s ease;
    }

    .variants {
      .question {
        background: url('~/assets/product/question.png') no-repeat center/cover;
      }
    }

    .product-price {
      margin-top: 14px;
      margin-bottom: 22px;
      font-family: LeagueSpartanBlack;
      font-weight: 900;
      font-size: 23px;

      div {
        color: #d75f23;
        font-family: LeagueSpartanBlack;
      }

      s,
      s div {
        color: #7e6e5f;
      }
    }

    .price {
      div {
        font-family: LeagueSpartan;
        ;
      }

      s,
      s div {
        color: #7e6e5f;
      }
    }

    .select-color {
      .select-color-item label {
        border-radius: 12px;
        background: #FFFFFF;
      }
    }

    .gift {
      .gift-item:nth-child(1) label {
        background: url('~/assets/product/pc-gift-1.png') no-repeat center/cover;
      }

      .gift-item:nth-child(2) label {
        background: url('~/assets/product/pc-gift-2.png') no-repeat center/cover;
      }
    }

    .add-on-item {
      img {
        width: 70px;
        height: 70px;
        object-fit: contain;
      }
    }

    .add-to-cart {
      width: 259px;
      height: 52px;
      background: #7E6E5F;
      border-radius: 24px;
      color: #FFFFFF;
      transition: all 0.3s ease;

      button {
        width: 259px;
        height: 52px;
        font-family: LeagueSpartanBlack;
        font-size: 24px;
        text-transform: uppercase;
        position: relative;
      }

      &:hover {
        color: #7E6E5F;
        background-color: #FFFFFF
      }
    }

    .question_mark_popup {
      .popup-wrapper {
        width: 874px;
        height: 561px;
        background-color: #ffffff;
        border-radius: 25px;
        overflow: hidden;
        display: flex;
        padding: 20px;

        .popup-content {
          flex: 1;
          padding: 40px 0px 20px;
        }

        .popup-img {
          width: 500px;
          height: 500px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            margin: 0px;
            margin-right: 10px;
          }
        }

        .popup-title {
          color: #504030;
          font-family: HelveticaNowDisplayXBlk;
          font-size: 35px;
          margin-bottom: 20px;

          &::first-letter {
            color: #d75f23;
          }
        }


        ul {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          row-gap: 10px;
          margin-top: 10px;
          text-align: left;
          list-style: disc;
          padding-left: 20px;

          li {
            font-family: LeagueSpartan;
            color: #504030;
            font-size: 18px;
          }

          b {
            font-family: LeagueSpartan;
            color: #504030;
            font-size: 22px;
            text-align: left;
            line-height: 25px;
            margin: 5px 0px;
          }
        }

        .popup-close {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          top: 10px;
          position: absolute;
          right: 10px;
          background: url('~/assets/product/close-product.png') no-repeat center/cover;
          display: block;
        }
      }
    }

    [class*='swiper-button'] {
      width: 24px;
      height: 46px;
      background: url('~/assets/product/arrows.png') no-repeat center/cover;
    }

    .swiper-button-prev {
      left: 10px;
    }

    .swiper-button-next {
      right: 10px;
    }

  }

  .product-litter {

    .litter-img img {
      width: 1200px;
    }


    .litter-content {
      height: 400px;

      .litter-title {
        line-height: 60px;
        font-size: 57px;
      }

      .litter-desc {
        font-size: 23px;
        line-height: 35px;
      }

      .special {
        font-size: 30px;
      }

      .thick {
        font-weight: 900;
      }
    }


    .litter-2 {
      img {
        width: 504px;
        top: -107px;
        right: 58px;
      }

      .litter-content {
        margin: 95px 0px 0px 40px;

        .litter-desc {
          width: 467px;
          margin-top: 14px;
        }
      }
    }

    .litter-3 {
      img {
        width: 726px;
        top: 59px;
        left: -13px;
      }

      .litter-content {
        width: 461px;
        margin-top: 112px;
      }

      .litter-desc {
        margin-top: 49px;
      }
    }

    .litter-4 {

      img {
        width: 738px;
        right: 0px;
        top: 108px;
      }

      .litter-content {
        margin-top: 198px;
        width: 771px;
        margin-left: 10px;
      }

      .litter-desc {
        margin-top: 20px;
        width: 500px;
      }
    }

    .litter-5 {

      img {
        width: 516px;
        top: 200px;
        left: 20px;
      }

      .litter-content {
        margin-top: 186px;
        width: 672px;
      }

      .litter-title {
        font-size: 79px;
        line-height: 90px;
      }

      .litter-desc {
        margin-top: 79px;
        width: 512px;
        font-size: 27px;
      }
    }

    .litter-6 {
      .litter-container {
        height: 700px;
      }

      img {
        width: 516px;
        top: 256px;
        left: 20px;
      }

      .litter-content {
        width: 500px;
        margin-top: 114px;
      }

      .litter-desc {
        margin-top: 178px;
        font-size: 27px;
      }
    }
  }

  .litter-swiper {
    img {
      height: 565px;
      margin-left: 140px;
      object-fit: contain;
    }

    [class *='swiper-button'] {
      width: 40px;
      height: 95px;
      background: url('~/assets/index/arrows-big.png') no-repeat center/cover;
    }
  }

  @keyframes voice {
    0% {
      height: 14px;
    }

    100% {
      height: 30px;
    }
  }

  @keyframes voice_1 {
    0% {
      height: 14px;
    }

    100% {
      height: 20px;
    }
  }

  .product-quiet {
    .container {
      padding: 0px 30px;
    }

    .scale {
      display: flex;
      margin-left: 50px;
      column-gap: 45px;
      font-family: Helvetica;
      font-size: 14px;
      margin-top: 10px;
    }

    .content {
      padding-top: 20px;

      .title-wrapper {
        margin-bottom: 20px;
      }

      .quiet-title {
        font-size: 70px;
        width: 582px;
        line-height: 84px;
      }

      .voice {
        height: 81px;

        .icon {
          width: 96px;
          height: 81px;
          background: url("~/assets/product/voice.png") no-repeat center/cover;
          display: block;
          margin-right: 20px;
        }

        .line {
          column-gap: 5px;
          height: 81px;

          span {
            width: 10px;
            height: 14px;
            border-radius: 2px;

            &:nth-child(5n) {
              height: 20px;
            }
          }
        }
      }
    }

    .quite-img {
      width: 551px;
    }
  }


}

// 移动端
@media screen and (max-width: 900px) {
  .LitterBox {
    padding-top: vw(40px);
    padding-bottom: vw(65px);

    .question_mark_popup {
      .popup-wrapper {
        width: vw(680px);
        height: auto;
        background-color: #ffffff;
        border-radius: vw(25px);
        overflow: auto;
        padding: vw(40px);
        box-sizing: border-box;
        height: vw(1200px);

        .popup-content {
          flex: 1;
        }

        .popup-img {

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            margin: 0px;
          }
        }

        .popup-title {
          color: #504030;
          font-family: HelveticaNowDisplayXBlk;
          font-size: vw(55px);
          margin-bottom: vw(40px);

          &::first-letter {
            color: #d75f23;
          }
        }


        ul {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          row-gap: vw(20px);
          margin-top: vw(20px);
          text-align: left;
          list-style: disc;
          padding-left: vw(20px);

          li {
            font-family: LeagueSpartan;
            color: #504030;
            font-size: vw(36px);
          }

          b {
            font-family: LeagueSpartan;
            color: #504030;
            font-size: vw(40px);
            text-align: left;
            line-height: vw(50px);
            margin: vw(5px) 0px;
          }
        }

        .popup-close {
          width: vw(60px);
          height: vw(60px);
          border-radius: 50%;
          top: vw(20px);
          position: absolute;
          right: vw(20px);
          background: url('~/assets/product/close-product.png') no-repeat center/cover;
          display: block;
        }
      }
    }

    .title {
      font-size: vw(50px);
      margin-bottom: vw(5px);
    }

    .sub-title {
      font-size: vw(38px);
      margin-bottom: vw(22px);
    }

    .title-desc {
      font-size: vw(23px);
      margin-bottom: vw(38px);
    }

    .swiper-container {
      width: vw(680px);
      height: auto;
      overflow: hidden;

      .swiper {
        height: vw(550px);
      }

      img {
        width: vw(680px);
        height: vw(446px);
        object-fit: contain;
        border-radius: vw(24px);
      }

      [class*='swiper-button'] {
        width: vw(26px);
        height: vw(59px);
        background: url('~/assets/product/m_arrows.png') no-repeat center/cover;
        top: 45%;
      }

      .swiper-button-prev {
        left: vw(20px);
      }

      .swiper-button-next {
        right: vw(10px);
      }

      .swiper-pagination {
        margin-top: vw(27px);
        margin-bottom: vw(38px);
        height: vw(8px);
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: vw(10px);
      }

      .swiper-pagination-bullet {
        display: block;
        width: vw(13px);
        height: vw(8px);
        background: #CBB298;
        border-radius: vw(4px);
        transition: all 0.3s ease;
      }

      .swiper-pagination-bullet-active {
        width: vw(84px);
      }
    }

    .product-price {
      margin-bottom: vw(29px);

      div {
        color: #D75F23;
        font-size: vw(29px);
        font-family: LeagueSpartanBlack;
      }

      s {
        color: #7E6E5F;

        div {
          color: #7E6E5F;
        }
      }
    }

    .price {
      div {
        font-size: vw(29px);
        font-family: LeagueSpartan;
      }

      s {
        color: #7E6E5F;
        margin-left: vw(16px);

        div {
          color: #7E6E5F;
        }
      }
    }

    .select-color {

      input[type=radio]:checked+label,
      input[type=checkbox]:checked+label {
        border-color: $border-color;
      }

      label {
        border: vw(4px) solid $background;
        transition: all .3s ease;
        cursor: pointer;
        width: 100%;
        height: 100%;
        border-radius: vw(12px);
      }

      column-gap: vw(38px);
      margin-top: vw(30px);
      margin-bottom: vw(37px);

      .select-color-item {
        flex: 1;
      }

      img {
        width: vw(200px);
        height: vw(200px);
        object-fit: contain;
      }

      span {
        font-size: vw(21px);
      }
    }

    .variants {
      justify-content: space-between;
      margin-top: vw(30px);
      margin-bottom: vw(38px);

      .variants-item {
        width: vw(200px);
        height: vw(228px);
        background: #FFFFFF;
        border-radius: vw(12px);
        overflow: hidden;
        padding: vw(20px);
        box-sizing: border-box;
        border: vw(4px) solid $background;
        transition: all .3s ease;
      }

      .question {
        background: url('~/assets/product/question.png') no-repeat center/cover;
        top: vw(10px);
        right: vw(10px);
        width: vw(20px);
        height: vw(20px);
      }

      a.active .variants-item {
        border-color: $border-color;
      }

      img {
        width: vw(172px);
        height: vw(172px);
        object-fit: contain;
      }

      p {
        font-size: vw(21px);
      }


    }

    .gift {
      row-gap: vw(30px);
      margin-top: vw(30px);
      margin-bottom: vw(40px);

      .gift-item {
        width: vw(678px);
        height: vw(150px);
        overflow: hidden;
        border-radius: vw(14px);
      }

      .gift-item:nth-child(1) {
        background: url('~/assets/product/mb-gift-1.png') no-repeat center/cover;
      }

      .gift-item:nth-child(2) {
        background: url('~/assets/product/mb-gift-2.png') no-repeat center/cover;
      }

      .gift-left {
        padding: 0px vw(40px) 0px vw(60px);
        position: relative;

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: vw(25px);
          height: vw(25px);
          border: vw(2px) solid #626262;
          border-radius: vw(4px);
          left: vw(25px);
        }
      }

      label {
        height: 100%;
        width: 100%;
      }

      img {
        width: vw(130px);
        height: vw(130px);
        object-fit: contain;
      }

      input[type=radio]:checked+label .gift-left::after {
        background: url('~/assets/product/checkbox.png') no-repeat center/cover;
        border-color: #ffffff;
      }
    }

    .addOns {
      row-gap: vw(24px);
      margin-top: vw(30px);

      .add-on-item {
        width: vw(678px);
        height: vw(103px);
        background: #F5F3ED;
        border-radius: vw(12px);
      }

      img {
        width: vw(70px);
        height: auto;
      }

      .img-wrapper {
        padding-left: vw(108px);
        position: relative;

        &::after {
          content: '';
          width: vw(25px);
          height: vw(25px);
          border: vw(2px) solid #626262;
          border-radius: vw(4px);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: vw(30px);
        }
      }

      label {
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
      }

      input[type=checkbox]:checked+label .img-wrapper::after {
        background: url('~/assets/product/checkbox.png') no-repeat center/cover;
        border-color: #ffffff;
      }

      .title {
        margin-bottom: 0px;
        font-size: vw(25px);
      }

      .price {
        margin-right: vw(30px);
        font-size: vw(30px);
      }
    }

    .add-to-cart {
      width: vw(372px);
      height: vw(58px);
      background: #7E6E5F;
      border-radius: vw(29px);
      margin-right: vw(47px);

      button {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: vw(29px);
        color: #FFFFFF;
        text-transform: uppercase;
        font-family: LeagueSpartanBlack;
      }
    }

    .quantity {
      width: vw(198px);
      height: vw(58px);
      background: #FFFFFF;
      border-radius: vw(29px);

      div {
        width: vw(50px);
        font-size: vw(38px);
      }
    }
  }

  .product-litter {

    .litter-img img {
      width: 100%;
    }

    .litter-2 {

      img {
        width: vw(390px);
        top: vw(-20px);
        right: vw(35px);
      }

      .litter-content {
        margin: vw(56px) 0px 0px vw(50px);

        .litter-title {
          font-size: vw(36px);
          width: vw(299px);
          line-height: vw(39px);
        }

        .litter-desc {
          width: vw(312px);
          margin-top: vw(16px);
          font-size: vw(19px);
          line-height: vw(25px);
        }
      }
    }

    .litter-3 {
      padding-top: vw(116px);
      padding-bottom: vw(85px);

      .litter-container {
        flex-direction: column;
      }

      img {
        width: vw(535px);
        position: static;
        margin: 0px auto;
      }

      .litter-content {
        display: flex;
        flex-direction: row-reverse;
        margin-top: vw(36px);
      }

      .litter-title {
        width: vw(280px);
        font-size: vw(35px);
        line-height: vw(35px);
        text-align: left;
        padding-left: vw(22px);
      }

      .litter-desc {
        width: vw(458px);
        font-size: vw(26px);
        line-height: vw(35px);
        padding-right: 26px;
        border-right: vw(2px) solid #CBC1AA;
        text-align: right;
      }
    }

    .litter-4 {
      margin-bottom: vw(68px);


      img {
        width: vw(441px);
        top: 0px;
        right: vw(35px);
      }

      .litter-content {
        padding-top: vw(24px);
        margin-left: vw(39px);
      }

      .litter-title {
        margin-bottom: vw(14px);
        width: vw(376px);
        font-size: vw(34px);
        line-height: vw(38px);
      }

      .litter-desc {
        width: vw(342px);
        font-size: vw(19px);
        line-height: vw(25px);
      }
    }

    .litter-5 {
      margin-bottom: vw(31px);

      img {
        width: vw(339px);
        top: 0px;
        left: vw(36px);
      }

      .litter-content {
        margin-right: vw(34px);
        padding-top: vw(47px);
      }

      .litter-title {
        width: vw(600px);
        font-size: vw(48px);
        line-height: vw(48px);
        margin-bottom: vw(48px);
        margin-left: auto;
      }

      .litter-desc {
        width: vw(299px);
        font-size: vw(19px);
        margin-top: vw(48px);
        line-height: vw(24px);
      }
    }

    .litter-6 {
      padding-bottom: vw(160px);


      img {
        width: vw(338px);
        top: 0px;
        left: vw(36px);
      }

      .litter-content {
        margin-top: vw(23px);
      }

      .litter-desc {
        width: vw(304px);
        font-size: vw(19px);
        line-height: vw(24px);
        margin-right: vw(36px);
      }
    }
  }

  @keyframes voice {
    0% {
      height: vw(7px);
    }

    100% {
      height: vw(20px);
    }
  }

  @keyframes voice_1 {
    0% {
      height: vw(7px);
    }

    100% {
      height: vw(15px);
    }
  }

  .product-quiet {
    padding: vw(53px) 0px vw(71px);

    .content {
      .title-wrapper {
        margin-bottom: vw(15px);
      }

      .quiet-title {
        font-size: vw(37px);
        line-height: vw(40px);
      }

      p.quiet-title {
        font-size: vw(40px);
        margin-bottom: vw(10px);
      }

      .voice {
        height: vw(56px);

        .icon {
          width: vw(64px);
          height: vw(56px);
          background: url("~/assets/product/voice.png") no-repeat center/cover;
          display: block;
          margin-right: vw(20px);
        }

        .line {
          column-gap: vw(5px);
          height: vw(56px);

          span {
            width: vw(10px);
            height: vw(10px);
            border-radius: vw(2px);

            &:nth-child(5n) {
              height: vw(15px);
            }
          }
        }
      }
    }

    .quite-img {
      width: vw(364px);
      margin-top: vw(-15px);
    }

    .scale {
      display: flex;
      margin-left: vw(40px);
      column-gap: vw(45px);
      font-size: vw(20px);
    }
  }

  .product-litter {
    padding-top: vw(55px);

    .container {
      padding: 0px;
    }
  }

  .litter-swiper {
    padding: vw(66px) 0px vw(105px);

    .container {
      padding-top: vw(190px);
    }

    p {
      top: vw(0px);
      font-size: vw(69px);
      text-align: center;
      width: vw(543px);
      left: 50%;
      transform: translateX(-50%);
      line-height: 1;
    }

    img {
      height: vw(940px);
      margin: 0px auto;
    }

    [class *='swiper-button'] {
      width: vw(38px);
      height: vw(85px);
      background: url('~/assets/index/arrows-big.png') no-repeat center/cover;
    }
  }

  .product-inventory {
    padding: vw(40px) 0px vw(53px);
  }

}
