@function vw($px-vw, $base-vw: 750px) {
  @return calc(($px-vw * 100vw) / $base-vw);
}

.new-index-litter {
  background: #E0D5C1;

  p,
  span {
    line-height: normal;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    transform: scale(0.9);
    transform-origin: bottom;
    transition: 1s cubic-bezier(.42, 0, .002, 1) .3s;
  }

  .sub-title,
  .title {
    display: none;
  }


  .sub-title {
    font-family: LeagueSpartan;
  }

  .title {
    span {
      display: block;
      font-family: LeagueSpartanBlack;
      color: #504030;
      white-space: nowrap;

      &:first-child::first-letter {
        color: #D75F23;
      }
    }
  }
}

.active-index {
  background: #E0D5C1;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  p {
    font-family: LeagueSpartanBlack;
    color: #504030;

    span {
      color: #D75F23;
    }
  }

  p:nth-child(2) {

    i {
      display: inline-block;
      background: #504030;
    }
  }

  .bar-btn {
    background: #504030;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: LeagueSpartanBlack;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFFFFF;
    transition: all 0.3s ease;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
    }

    &:hover {
      color: #504030;
      background-color: #FFFFFF;
    }
  }
}

.swiper-video {
  .swiper-slide {
    width: fit-content;
  }
}

@media screen and (min-width: 901px) {

  .new-index-litter {

    .litter-content {

      .sub-title,
      .title {
        display: block;
      }
    }

    height: 690px;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      width: 1200px;
      display: flex;
      padding: 93px 0 111px;
      height: 690px;
      box-sizing: border-box;
      justify-content: center;
    }

    img {
      width: 612px;
      height: auto;
      object-fit: contain;
    }


    .options {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .item {
        p {
          font-family: LeagueSpartanBlack;
          font-size: 35px;
          font-weight: 800;
          color: #837464;
          text-transform: uppercase;
          text-align: center;
        }
      }

      .line {
        display: block;
        width: 2px;
        height: 67px;
        background: #504030;
        margin: 0px 39px;
      }
    }

    .sub-title {
      font-size: 32px;
      font-weight: 400;
      color: #504030;
      line-height: 35px;
      margin-bottom: 18px;
      text-align: right;
    }

    .title {
      margin: 0px;
      margin-bottom: 50px;

      span {
        font-size: 63px;
        font-weight: 900;
        line-height: 60px;
        text-align: right;
        color: #504030;
      }
    }

    .button {
      all: unset;
      display: block;
      width: 280px;
      cursor: pointer;
      height: 79px;
      background: #504030;
      border-radius: 26px;
      text-align: center;
      font-size: 24px;
      line-height: 84px;
      margin-top: 65px;
      font-size: 36px;
      font-family: LeagueSpartanBlack;
      font-weight: 800;
      color: #FFFFFF;
      text-transform: uppercase;
      margin-left: auto;
      transition: all 0.3s ease;

      &::after,
      &::before {
        display: none;
      }

      &:hover {
        color: #504030;
        background-color: #FFFFFF;
      }
    }

    .mb-options {
      display: none;
    }

  }

  .active-index {
    height: 189px;
    margin: 80px 0px;

    .container {
      column-gap: 80px;
      height: 100%;
      height: 150px;
      background: url('~/assets/index/active-bar.png') no-repeat center/cover;
    }

    p {
      font-size: 42px;
    }

    p:nth-child(2) {
      margin-top: 5px;

      i {
        display: inline-block;
        width: 3px;
        height: 33px;
      }
    }

    .bar-btn {
      width: 307px;
      height: 73px;
      border-radius: 35px;
      font-size: 33px;

      &::after {
        width: 312px;
        height: 45px;
        background: url('~/assets/index/active-btn.png') no-repeat center/cover;
        left: -2px;
        top: -15px;
      }
    }
  }

  .swiper-video {
    .word {
      background: url('~/assets/index/swiper-video-word.png') no-repeat center/cover;
      width: 233px;
      height: 147px;
    }

    .img-wrapper {
      overflow: hidden;
      width: 100%;
      height: 100%;
      border-radius: 12px;

      &:hover img {
        transform: scale(1.1);
        transition: all 0.3s ease;
      }
    }

    .video-container {
      width: 465px;
      height: 756px;
      background: #000;
      right: 20px;
      bottom: 20px;
      z-index: 10;
      border-radius: 12px;
      overflow: hidden;

      .swiper-wrapper {
        width: 465px;
        height: 756px;
      }

      video {
        width: 465px;
        height: 756px;
        object-fit: contain;
      }
    }

    .close {
      width: 40px;
      height: 40px;
      background: url('~/assets/index/close-product.png') no-repeat center/cover;
      right: 10px;
      top: 10px;
      cursor: pointer;
      z-index: 5;
    }
  }

  .product-list {
    img {
      border: 2px solid transparent;
      transition: all 0.3s ease;
      border-radius: 48px;

      &:hover {
        border-color: #D75F23;
      }
    }
  }

  .new-index-honor {

    .honor-inner {
      position: relative;
      height: 1164px;

      picture:first-child {
        display: block;
        width: 1200px;

        img {
          height: auto;
          width: 1200px;
          object-fit: contain;
        }
      }
    }

    .honor-content {
      width: 700px;
      display: block;
      position: absolute;
      left: 0px;
      bottom: 0px;

      img {
        width: 700px;
        display: block;
        object-fit: contain;
        height: auto;
      }
    }

    .mb-honor-content,
    .mb-honor-desc,
    .mb-honor-options {
      display: none;
    }

    .honor-options {
      display: flex;
      align-items: center;
      margin-top: 75px;

      .options-item {
        display: block;
        width: fit-content;
        display: flex;
        align-items: center;

        &::after {
          content: '';
          display: block;
          width: 2px;
          height: 45px;
          background: #C7BCB1;
          margin: auto 43px auto 45px;
        }

        img {
          display: block;
          width: 205px;
          height: 294px;
        }

        &:nth-child(1) img {
          width: 313px;
          height: 294px;
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }
  }

  .swiper-join {
    .swiper {
      width: 1060px;
    }

    [class *='swiper-button'] {
      width: 40px;
      height: 95px;
      background: url('~/assets/index/arrows-big.png') no-repeat center/cover;
    }
  }

  .comfort {
    a:hover {
      i {
        transform: translateX(8px);
      }
    }

    i {
      display: block;
      width: 20px;
      transition: all 0.3s ease;
      height: 19px;
      margin-left: 5px;
      margin-top: -10px;
      background: url('~/assets/index/mouse.png') no-repeat center/cover;
    }
  }
}


@media screen and (max-width: 900px) {
  .new-index-litter {
    padding: vw(124px) 0px vw(78px);
    box-sizing: border-box;
    position: relative;

    .litter-content {

      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;

      .sub-title,
      .title {
        display: none;
      }
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
    }

    .title {
      font-size: vw(62px);
      font-weight: 900;
      line-height: vw(58px);
      padding-right: vw(53px);
      margin: 0px;
      display: block;
      text-align: right;

      &::first-letter {
        color: #D75F23;
      }
    }

    .play {
      width: vw(522px);
      height: vw(432px);
      margin: 0px auto vw(70px);
    }

    .sub-title {
      font-size: vw(29px);
      font-weight: 400;
      color: #504030;
      line-height: vw(31px);
      text-align: center;
      margin-bottom: vw(55px);
      display: block;
    }

    .button {
      all: unset;
      display: block;
      text-transform: uppercase;

      &::after,
      &::before {
        display: none;
      }

      width: vw(280px);
      height: vw(79px);
      background: #504030;
      border-radius: vw(39px);
      font-size: vw(36px);
      font-family: LeagueSpartanBlack;
      font-weight: 800;
      color: #FFFFFF;
      line-height: vw(85px);
      text-align: center;
      margin: 0px auto vw(77px);
    }

    .options {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-size: vw(28px);
        font-family: LeagueSpartanBlack;
        font-weight: 800;
        color: #504030;
        line-height: vw(32px);
        text-align: center;
        text-transform: uppercase;
      }

      .line {
        width: vw(1px);
        height: vw(53px);
        background: #504030;
        margin: 0px vw(32px);
        display: block;
      }
    }
  }

  .active-index {
    height: vw(133px);
    margin: vw(80px) 0px;

    .container {
      column-gap: vw(24px);
      height: vw(86px);
      box-sizing: border-box;
      background: url('~/assets/index/mb_active-bar.png') no-repeat center/vw(680px) vw(86px);
    }

    p {
      font-size: vw(25px);
    }

    p:nth-child(2) {
      margin-top: vw(10px);

      i {
        display: inline-block;
        width: vw(2px);
        height: vw(19px);
      }
    }

    .bar-btn {
      width: vw(184px);
      height: vw(44px);
      border-radius: vw(20px);
      font-size: vw(20px);

      &::after {
        width: vw(187px);
        height: vw(27px);
        background: url('~/assets/index/mb_active-btn.png') no-repeat center/cover;
        left: vw(-4px);
        top: vw(-10px);
      }
    }
  }

  .product-list {
    padding: vw(40px) 0px vw(57px);

    .container {
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: vw(48px);
    }

    img {
      width: vw(316px);
      border-radius: vw(42px);
    }
  }

  .swiper-video {
    .container {
      padding: vw(30px) vw(38px);
      column-gap: vw(33px);
    }

    .word {
      width: vw(150px);
      height: vw(90px);
      background: url('~/assets/index/mb-swiper-video-word.png') no-repeat center/cover;
    }

    .content img {
      width: vw(116px);
      height: vw(142px);
      border-radius: vw(20px);
    }

    .video-container {
      width: vw(640px);
      height: calc(100vh - 100px);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      background: #000;
      border-radius: vw(20px);
      overflow: hidden;

      .close {
        top: vw(20px);
        right: vw(20px);
        width: vw(60px);
        height: vw(60px);
        background: url('~/assets/index/close-product.png') no-repeat center/cover;
        z-index: 20;
      }

      .swiper-wrapper {
        width: vw(640px);
        height: calc(100vh - 100px);

        video {
          width: 100%;
          height: 100%;
          background: #000;
          object-fit: cover;
        }
      }
    }
  }

  .new-index-honor {
    padding: vw(58px) 0px vw(62px);

    .honor-content,
    .honor-options {
      display: none;
    }

    .honor-inner {
      margin-bottom: vw(37px);

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    .mb-honor-content img {
      width: 100%;
      margin-bottom: vw(40px);
    }

    .mb-honor-desc {
      display: flex;
      justify-content: space-between;

      img {
        width: vw(313px);
        height: auto;
        display: block;
      }
    }

    .mb-honor-options {
      display: flex;
      justify-content: space-between;
      margin-top: vw(34px);

      img {
        width: vw(205px);
        height: vw(294px);
        background: #A79886;
        border-radius: vw(23px);
        column-gap: vw(30px);
      }
    }
  }

  .swiper-join {
    $width: vw(186px);
    width: 100%;

    .container {
      padding: vw(35px) 0px vw(44px);
    }

    p {
      margin-bottom: vw(30px);
    }

    .swiper-container {
      width: 100%;
    }

    .swiper {
      width: vw(750px);

      img {
        width: $width;
      }

      .swiper-slide {
        width: $width;
      }
    }
  }

  .inventory {
    padding-bottom: vw(70px);

    a {
      width: vw(230px);
      height: vw(58px);
      border-radius: vw(29px);
      right: vw(26px);
      bottom: vw(30px);
      font-size: vw(26px);
    }
  }

  .comfort {
    padding: vw(50px) 0px;

    img {
      border-radius: vw(30px);
    }

    a {
      width: vw(165px);
      height: vw(31px);
      border-radius: vw(13px);
      font-size: vw(18px);
      left: vw(120px);
      bottom: vw(50px);

      i {
        width: vw(12px);
        height: vw(12px);
        margin-left: vw(5px);
        margin-top: vw(-5px);
        background: url('~/assets/index/mouse.png') no-repeat center/cover;
      }
    }
  }
}
